<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://107.180.2.66:3306/pagaaquidb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">cvramire</property>
    <property name="hibernate.connection.password">Cramire1982</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="ws/model/Tpromociones.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
